<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input
        type="text"
        placeholder="name"
        #addMemberInput
        (input)="onInput(addMemberInput.value)"
        [value]="newMember"
      />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input
        #numberOfTeamsInput
        type="number"
        placeholder="# teams"
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeam()">Generate</button>
    </div>
    <button class="refresh-button" (click)="refreshPage()">Reset</button>
    <p *ngIf="errMessage" class="error-message">{{ errMessage }}</p>
  </div>

  <div *ngIf="teams.length" class="teams-container">
    <app-team
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    >
    </app-team>
  </div>
</div>
